services:
  - type: web
    name: speech-sketch-frontend
    env: static
    region: oregon
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
