@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-accent: #f43f5e;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}